html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  outline: 2px dotted blueviolet;
  background-image: url(../images/DSC01176.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 390px) and (max-width: 767px) {
  .container {
    width: 390px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  padding: 20px 30px;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  font-size: 16px;
}
/* **********************HERO*********************** */
.hero {
  padding: 30px 15px;
  text-align: center;
}

.hero__title,
.hero__name,
.hero__text {
  color: #fff;
  text-align: center;
}

.hero__name {
  font-size: 64px;
  font-weight: 700;
}

.hero__title {
  font-size: 44px;
  font-weight: 500;
  font-style: italic;
}

/* ***********************PORTFOLIO************************** */

.portfolio {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 140px;
}

@media screen and (max-width: 767px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .hero__name {
    font-size: 44px;
  }

  .hero__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .gallery__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin: 0;
    margin-left: -30px;
    margin-top: -30px;
  }
  .gallery__item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 0;
    margin-left: 30px;
    margin-top: 30px;
  }
}
