html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;

  /* background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/DSC01176.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

ul,
a,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus {
  color: #fff;
}
img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  margin: 0;
}

.nav-link {
  color: #fff;
  opacity: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px dotted blueviolet; */
}
.container-fluid {
  max-width: 1200px;
}
.collapse {
  justify-content: flex-end;
}
.hero {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/DSC01176.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 390px) and (max-width: 767px) {
  .container {
    width: 390px;
  }
  .container-fluid {
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container-fluid {
    max-width: 1199px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .hero {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  padding: 20px 30px;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  font-size: 16px;
}
/* **********************HERO*********************** */
.hero {
  /* padding: 30px 15px; */
  text-align: center;
}

.hero__title,
.hero__name,
.hero__text {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
}

.hero__name {
  font-size: 64px;
  font-weight: 700;
  padding-top: 30px;
}

.hero__title {
  font-size: 44px;
  font-weight: 500;
  font-style: italic;
}

/* ***********************PORTFOLIO************************** */

.portfolio {
  margin-top: 30px;
  /* margin-bottom: 30px; */
  padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .hero__name {
    font-size: 44px;
  }

  .hero__title {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .gallery__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin: 0;
    margin-left: -30px;
    margin-top: -30px;
  }
  .gallery__item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 0;
    margin-left: 30px;
    margin-top: 30px;
  }
}
/* ********************* FOOTER ******************** */
.footer {
  padding: 30px 0;
  background-color: #000;
}

.footer__svg {
  fill: #fff;
}

@media screen and (max-width: 767px) {
  .footer__list {
    display: flex;
  }
  .footer__item {
    margin-right: 10px;
  }
  .footer__svg {
    fill: #fff;
    width: 20px;
    height: 20px;
  }
  .footer__info {
    color: #fff;
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }

  /* .wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  } */

  .footer__list {
    display: flex;
  }
  .footer__item {
    margin-right: 10px;
  }
  .footer__svg {
    fill: #fff;
    width: 30px;
    height: 30px;
  }
  .footer__info {
    color: #fff;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: center;
  }

  .footer__name {
    max-width: 1440px;
    display: block;
    margin-left: 15px;
    margin-right: 50px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
  }

  .footer__item {
    margin-right: 20px;
  }
  .footer__svg {
    fill: #fff;
    width: 40px;
    height: 40px;
  }
  .footer__info {
    font-size: 24px;
  }
  .navbar-brand,
  .nav-item {
    font-size: 24px;
  }
}
/* ************************************************************ */
/************************* ABOUT PAGE************************* */
/* ************************************************************** */

@media screen and (max-width: 767px) {
  .container-fluid {
    max-width: 767px;
  }
  .hero-about__wrap {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .hero-about__img {
    width: 100%;
  }
  .hero-about__title {
    color: rgb(156, 4, 47);
    font-weight: 700;
    margin-bottom: 10px;
  }
  .hero-about__name {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }
  .hero-about__text {
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
    font-weight: 300;
    margin-bottom: 15px;
  }

  .hero__btn-about {
    padding: 15px 20px;
    margin-top: 15px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgb(156, 4, 47);
    color: #fff;
  }

  .footer__container {
    align-items: center;
  }
  .footer__list {
    margin-bottom: 8px;
  }
  .footer__info {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 1199px;
  }
  .hero-about__main {
    max-width: 1199px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
  }
  .hero-about__imgwrap {
    width: 100%;
  }

  .hero-about__title {
    color: rgb(156, 4, 47);
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .hero-about__name {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .hero-about__text {
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .about-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about-gallery__item:not(:last-child) {
    margin-right: 10px;
  }
  .hero__btn-about {
    padding: 15px 20px;
    font-size: 12px;
    margin-top: 40px;
    cursor: pointer;
    background-color: rgb(156, 4, 47);
    color: #fff;
  }

  .footer__list {
    display: flex;
  }
  .footer__item {
    margin-right: 10px;
  }
  .footer__svg {
    fill: #fff;
    width: 25px;
    height: 25px;
  }
  .footer__info {
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero-about__main {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .hero-about__title {
    font-size: 28px;
    color: rgb(156, 4, 47);
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero-about__name {
    font-size: 44px;
    margin-bottom: 20px;
  }

  .hero-about__text {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .about-list {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .about-gallery__item:not(:last-child) {
    margin-right: 30px;
  }
  .footer__svg {
    fill: #fff;
    width: 30px;
    height: 30px;
  }

  .hero__btn-about {
    padding: 20px 30px;
    font-size: 16px;
    margin-top: 40px;
  }
}
